{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>POSLUNCH-ABOUT US</title>

  <style>
    @import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
    @import url(http://fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
  </style>

  <!-- Bootstrap core CSS -->
  <link href='{% static "vendor/bootstrap/css/bootstrap.min.css" %}' rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href='{% static "css/shop-homepage.css" %}' rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">
          <img src='{% static "PosLunLogo.png" %}' width="30" height="30" class="d-inline-block align-top mr-1" alt="">
          <lead class="align-bottom" >
          POSLUNCH
        </lead>
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Feedback</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead">
    <div class="overlay">
      <div class="container">
        <h1 class="display-3 text-white">Poslunch</h1>
        <h2 class="display-4 text-white">소개말</h2>
      </div>
    </div>
  </header>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="http://imageshack.com/a/img924/1124/de2dAi.png" alt="">
          </div>
        </div>
        <div class="col-md-6 order-1">
          <div class="p-5">
            <h1>"한눈에 보는 학교 행사"</h1>
            <p> </p>
            <p>
              각종 행사(공연, 강연 등)에 대한 정보가 포스터의 형태로 학교 곳곳에 퍼져 있습니다. 때문에 많은 포스테키안들이 자신에게 도움이 될 만한 행사들을
            <span style="color:#e8516f">모르고 지나치거나,</span>
            알고도 제때 <span style="color:#e8516f">계획하지 못하여</span> 참석하지 못하는 경우가 많다는 것을 발견했습니다. 저희는 이를 개선하기 위해
            각종 행사들에 대한 정보들을 모아, <span style="color:#e89106">한눈에 보기 쉽게 제공하는 프로그램</span>을 개발하고자 하였습니다. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Page Content -->
  <div class="container">

    <!-- Introduction Row -->
    <div class="text-center">
    <h1 class="my-4">About Us
            </h1>
            </div>
    <p class="text-center">안녕하세요, 팀 "점심에만나조"입니다. </p>
    <p>저희는 CSED232 객체지향프로그래밍 수업의 프로젝트 일환으로 해당 웹 페이지를 개발하게 되었습니다.
      포스텍 구성원들에게 조금이나마 도움이 되고자 이 프로젝트를 기획하게 되었고, 저희 팀원들 모두가 노력해서 만든 결과물입니다.
      사용하면서 불편한 점이 있으시거나, 추가 기능에 대한 아이디어가 있으시다면 상단의 Feedback 탭을 통해 소중한 의견을 말씀해주시면 감사하겠습니다:)</p>
</div>
<div class="container">
    <!-- Team Members Row -->
    <div class="row row-centered row justify-content-center">
      <div class="col-lg-12">
        <h2 class="my-4">Our Team</h2>
      </div>
      <div class="col-lg-4 text-center mb-4 col-centered">
        <img class="rounded-circle img-fluid d-block mx-auto" src="http://imagizer.imageshack.us/v2/280x200q90/923/YpLPlv.jpg" style="width: auto;height: 160px" alt="">
        <p> </p>
        <h3>박홍철</h3>
        <small>산업경영공학과</small>

        <p>5학년 준비 중인 4학년입니다.</p>
      </div>
      <div class="col-lg-4 text-center mb-4 col-centered">
        <img class="rounded-circle img-fluid d-block mx-auto" src="http://imageshack.com/a/img923/4690/ky6ISD.png" style="width: auto;height: 160px" alt="">
        <p> </p>
        <h3>김다연</h3>
        <small>기계공학과/컴퓨터공학과</small>

        <p>로보틱스의 software developer로 </p>
        <p style="line-height:0.1em">일하고 싶은 꿈나무</p>
      </div>
      <div class="col-lg-4 text-center mb-4 col-centered">
        <img class="rounded-circle img-fluid d-block mx-auto" src="http://imagizer.imageshack.us/v2/280x200q90/922/SZ3iv0.png" style="width: auto;height: 160px" alt="">
        <p> </p>
        <h3>홍승우</h3>
        <small>전자전기공학과</small>

        <p>객체 듣다 코딩에 눈 뜬</p>
        <p style="line-height:0.1em"> 방황 중인 전자공학도</p>
      </div>
      <div class="col-lg-4 text-center mb-4 col-centered">
        <img class="rounded-circle img-fluid d-block mx-auto" src="http://imagizer.imageshack.us/v2/280x200q90/923/cFRyhP.jpg" style="width: auto;height: 160px" alt="">
        <p> </p>
        <h3>임영수</h3>
        <small>창의IT융합공학과</small>

        <p>역시 우리는 공학도라는 것을 느끼게 하는</p>
        <p style="line-height:0.1em"> 진행형 하드코딩</p>
      </div>
      <div class="col-lg-4 text-center mb-4 col-centered">
        <img class="rounded-circle img-fluid d-block mx-auto" src="http://imagizer.imageshack.us/v2/280x200q90/924/ZcOaWi.png" style="width: auto;height: 160px" alt="">
        <p> </p>
        <h3>홍재영</h3>
        <small>컴퓨터공학과</small>

        <p>취미: 축구, 자전거타기, 스키, 코딩(?)</p>
        <p style="line-height:0.1em">동아리: 일레븐, 브레멘, 개근성</p>
      </div>
    </div>

  </div>
  <!-- /.container -->


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; POSLUNCH 2017</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src='{% static  "vendor/jquery/jquery.min.js " %}'></script>
  <script src='{% static  "vendor/bootstrap/js/bootstrap.bundle.min.js " %}'></script>

</body>

</html>
